<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net47" />
  <package id="Accord.Audio" version="3.8.2-alpha" targetFramework="net47" />
  <package id="Accord.Math" version="3.8.2-alpha" targetFramework="net47" />
  <package id="EnyimMemcached" version="2.16.0" targetFramework="net47" />
  <package id="FANNCSharp-x86" version="0.1.8" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net47" />
  <package id="MySql.Data" version="8.0.10-rc" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.1-beta3" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
  <package id="TA-Lib" version="0.5.0.3" targetFramework="net45" />
</packages>