<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net47" />
  <package id="Accord.Audio" version="3.8.2-alpha" targetFramework="net47" />
  <package id="Accord.Math" version="3.8.2-alpha" targetFramework="net47" />
  <package id="Colorful.Console" version="1.2.2" targetFramework="net47" />
  <package id="Devart.Data" version="5.0.1853" targetFramework="net47" />
  <package id="Devart.Data.MySql" version="8.10.1061" targetFramework="net47" />
  <package id="dotConnect.Express.for.MySQL" version="8.10.1061" targetFramework="net47" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="EnyimMemcached" version="2.16.0" targetFramework="net47" />
  <package id="FANNCSharp-x86" version="0.1.8" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net47" />
  <package id="Microsoft.Win32.Registry" version="4.4.0" targetFramework="net47" />
  <package id="MySql.Data" version="8.0.10-rc" targetFramework="net47" />
  <package id="MySql.Data.Entity" version="7.0.7-m61" targetFramework="net47" />
  <package id="MySqlClient" version="5.4.2" targetFramework="net47" />
  <package id="MySqlConnector" version="0.32.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.1-beta3" targetFramework="net47" />
  <package id="OptimizedDataReader" version="1.1.0" targetFramework="net47" />
  <package id="Savage.Data" version="5.4.2" targetFramework="net47" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net47" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="TA-Lib" version="0.5.0.3" targetFramework="net47" />
</packages>